<div>
	<form id="addProduct_form" action="#" method="post" role="form" class="form-group">
		<div>Fill Form to Add Product</div>
	<div class="form-group">
		<label>Product ID</label>
		<input type="text" name="product_id" id="product_id" tabindex="1" class="form-control" placeholder="Username" value="">
	</div>
	<div class="form-group">
		<label>Product name</label>
		<input type="text" name="product_name" id="product_name" tabindex="1" class="form-control" placeholder="Username" value="">
	</div>
	<div class="form-group">
		<label>Product Quantity</label>
		<input type="number" name="product_quantity" id="product_quantity" tabindex="1" class="form-control" placeholder="Username" value="">
	</div>
	<div class="form-group">
		<label>Price</label>
		<input type="number" name="product_unit_price" id="product_unit_price" tabindex="1" class="form-control" placeholder="Username" value="">
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<button class="form-control btn-register centered" type="submit">Submit</button>
		</div>
	</div>
	</form>
</div>